body {
  margin: 0px;
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}

.todo-object {
  background: #38302E;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0px 0px 10px #7A827D;
  border-radius: 18px;

  .items-display {
    .todo-items {
      border-bottom: 2px solid #126253;
    }
  }
}